body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "roboto condensed", sans-serif;
}

h1 {
  text-align: center;
  font-size: 5em;
}

.header-start-page {
  margin-top: 130px;
  font-size: 8em;
}

#game-info {
  margin-top: 20px;
}

#start-game-button {
  margin-top: 50px;
  clear: both;
  background-color: #e43a19;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
}

#how-to-button {
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
}

#next-round-button {
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: none;
}

#submit-answer {
  clear: both;
  background-color: #e43a19;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.game-box {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 160px;
  padding: 5, 40;
  background-color: #111f4d;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.timer-box {
  font-size: 30px;
  text-align: center;
}

#timer {
  font-size: 30px;
}

.roundNumber {
  background-color: #f2f4f7;
  font-size: 26px;
  padding-left: 20px;
  border-radius: 5px;
}

.clues {
  background-color: #f2f4f7;
}

.clue {
  font-size: 22px;
  padding-left: 20px;
}

.clue-two {
  font-size: 22px;
  padding-left: 20px;
}

.clue-three {
  font-size: 22px;
  padding-left: 20px;
}

#answer-option-buttons {
  margin: 40px;
  color: white;
}

.next-submit-buttons {
  align-content: center;
  padding-bottom: 30px;
}

.form-check-label {
  font-size: 20px;
  margin-left: 10px;
}

.round > h2 {
  padding: 20px;
}

.round {
  padding: 20px;
}

.clue {
  padding: 5px;
}

.instruction-steps {
  font-size: 20px;
  line-height: 35px;
}
