body {
  background-color: #d3d3d3;
}

h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 3em;
}

.header-start-page {
  margin-top: 200px;
}

#game-info {
  margin-top: 20px;
}

#start-game-button {
  margin-top: 50px;
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Courier;
  align-items: center;
}

#how-to-button {
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Courier;
  align-items: center;
}

#next-round-button {
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Courier;
  display: none;
}

#submit-answer {
  clear: both;
  background-color: #cf6640;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Courier;
}

.game-box {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 160px;
  padding: 5, 40;
  background-color: #7a81cc;
  border-radius: 20px;
}

.timer-box {
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#timer {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.roundNumber {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  padding-left: 20px;
  border-radius: 20px;
}

.clues {
  background-color: white;
}

.clue {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.clue-two {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.clue-three {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

#answer-option-buttons {
  margin: 40px;
}

.next-submit-buttons {
  align-content: center;
  padding-bottom: 30px;
}

.form-check-label {
  font-size: 20px;
  margin-left: 10px;
}

.round > h2 {
  padding: 20px;
}

.round {
  padding: 20px;
}

.clue {
  padding: 5px;
}

.instruction-steps {
  font-size: 20px;
  line-height: 35px;
}
